<a href="https://colab.research.google.com/github/ISABAL235/HAMOYE-QUIZ-A/blob/main/HamoyeStageAQuiz_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd

path = 'https://github.com/ooseni/Hamoye-Datasets/blob/main/FoodBalanceSheets_E_Africa_NOFLAG%20(2).csv?raw=true'
df= pd.read_csv(path, error_bad_lines= False, encoding='latin-1')
x = df.describe()
#x1 = x.iloc[1:3]
print(x)
df

          Area Code     Item Code  ...          Y2017          Y2018
count  60943.000000  60943.000000  ...   59437.000000   59507.000000
mean     134.265576   2687.176706  ...     140.917765     143.758381
std       72.605709    146.055739  ...    1671.862359    1710.782658
min        4.000000   2501.000000  ...   -1582.000000   -3396.000000
25%       74.000000   2562.000000  ...       0.000000       0.000000
50%      136.000000   2630.000000  ...       0.100000       0.070000
75%      195.000000   2775.000000  ...       9.000000       9.000000
max      276.000000   2961.000000  ...  190873.000000  195875.000000

[8 rows x 8 columns]

       Area Code      Area  Item Code  ...     Y2016     Y2017     Y2018
0              4   Algeria       2501  ...  40551.00  41389.00  42228.00
1              4   Algeria       2501  ...      0.00      0.00      0.00
2              4   Algeria       2901  ...   3372.00   3341.00   3322.00
3              4   Algeria       2901  ...     94.72     92.82     91.83
4              4   Algeria       2901  ...     77.40     80.19     77.28
...          ...       ...        ...  ...       ...       ...       ...
60938        181  Zimbabwe       2899  ...     33.00     19.00     16.00
60939        181  Zimbabwe       2899  ...      2.35      1.33      1.08
60940        181  Zimbabwe       2899  ...      3.00      1.00      1.00
60941        181  Zimbabwe       2899  ...      0.08      0.04      0.04
60942        181  Zimbabwe       2899  ...      0.03      0.02      0.01

[60943 rows x 12 columns]

In [ ]:
#Sum of animal fat produced in 2014 and 2017 respectively are 209460.54 and 267617.53

df1 = df.groupby('Item').sum()
df1
y= df1.iloc[3]
df1
y

Area Code         85279.00
Item Code       1882494.00
Element Code    2567303.00
Y2014            209460.54
Y2015            200675.72
Y2016            183314.22
Y2017            269617.53
Y2018            269648.27
Name: Animal fats, dtype: float64

In [ ]:
#What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

df.mean() # mean for 2015 is 135.236 to 3dp

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

In [ ]:
df.std() # standard deviation for 2015 is 1603.404 to 3dp

Area Code         72.605709
Item Code        146.055739
Element Code    2212.007033
Y2014           1567.663696
Y2015           1603.403984
Y2016           1640.007194
Y2017           1671.862359
Y2018           1710.782658
dtype: float64

In [ ]:
#What is the total number and percentage of missing data in 2016 to 2 decimal places?
df.isnull().sum() # missing data in 2015 is 1535.00 to 2 dp
1535/60943 # percent missing is in 2016 is 2.52 to 2 dp

0.025187470259094565

In [ ]:
#Which year had the highest correlation with ‘Element Code’? 
df.corr() # year 2014 has the highest correlation with Element Code

              Area Code  Item Code  Element Code  ...     Y2016     Y2017     Y2018
Area Code      1.000000  -0.005159     -0.000209  ...  0.005247  0.005006  0.005665
Item Code     -0.005159   1.000000     -0.024683  ...  0.020109  0.021494  0.021314
Element Code  -0.000209  -0.024683      1.000000  ...  0.023444  0.024254  0.024279
Y2014          0.006164   0.021722      0.024457  ...  0.996081  0.995230  0.994872
Y2015          0.005472   0.020857      0.023889  ...  0.995739  0.988048  0.988208
Y2016          0.005247   0.020109      0.023444  ...  1.000000  0.992785  0.992757
Y2017          0.005006   0.021494      0.024254  ...  0.992785  1.000000  0.998103
Y2018          0.005665   0.021314      0.024279  ...  0.992757  0.998103  1.000000

[8 rows x 8 columns]

In [ ]:
#What year has the highest sum of Import Quantity?
e = df.groupby('Element').sum()
e.iloc[6:10]
# 2016 has the highest import quantity

                                     Area Code  Item Code  ...      Y2017      Y2018
Element                                                    ...
Food supply quantity (kg/capita/yr)     658446   13185401  ...   48690.04   49056.85
Import Quantity                         688174   13795966  ...  294559.09  287997.09
Losses                                  274353    5424803  ...  160614.00  163902.00
Other uses (non-food)                   235554    4729749  ...   91645.97   91300.97

[4 rows x 8 columns]

In [ ]:
#What is the total number of the sum of Production in 2014?e.max(axis =1 ) 
e # total number of sum of production in 2014 is 1931287.75

                                        Area Code  ...       Y2018
Element                                            ...
Domestic supply quantity                   708993  ...  2161192.10
Export Quantity                            599910  ...   181594.80
Fat supply quantity (g/capita/day)         675050  ...    10258.69
Feed                                       176272  ...   233489.68
Food                                       663295  ...  1303841.28
Food supply (kcal/capita/day)              674057  ...   455261.00
Food supply quantity (kg/capita/yr)        658446  ...    49056.85
Import Quantity                            688174  ...   287997.09
Losses                                     274353  ...   163902.00
Other uses (non-food)                      235554  ...    91300.97
Processing                                 271940  ...   308429.00
Production                                 526751  ...  2075072.89
Protein supply quantity (g/capita/day)     675050  ...    11833.56
Residuals                                  623271  ...    34864.00
Seed                                       103537  ...    25263.14
Stock Variation                            571566  ...    20577.91
Total Population - Both sexes                6020  ...  1140605.00
Tourist consumption                         50308  ...       90.00

[18 rows x 8 columns]

In [ ]:
#Which of these elements had the highest sum in 2018?   Domestic supply quantity

#Which of these elements had the 3rd lowest sum in 2018?     Seed

f = df[['Element','Y2018']]
f.groupby('Element').sum()

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

In [ ]:
#What is the total Import Quantity in Algeria in 2018?   36238.29
s = df[['Area','Element','Y2018']]
a= s.groupby(['Area', 'Element']).sum()
a.head(15)

                                                   Y2018
Area    Element
Algeria Domestic supply quantity                90023.42
        Export Quantity                           811.54
        Fat supply quantity (g/capita/day)        309.09
        Feed                                    10668.00
        Food                                    63736.33
        Food supply (kcal/capita/day)           13288.00
        Food supply quantity (kg/capita/yr)      1509.28
        Import Quantity                         36238.29
        Losses                                   7708.00
        Other uses (non-food)                    3970.08
        Processing                               2479.00
        Production                              60766.67
        Protein supply quantity (g/capita/day)    367.28
        Residuals                                 630.00
        Seed                                      825.00

In [ ]:
#What is the total number of unique countries in the dataset?   49
df.groupby('Area').sum().count()

Area Code       49
Item Code       49
Element Code    49
Y2014           49
Y2015           49
Y2016           49
Y2017           49
Y2018           49
dtype: int64